on:
  push:
    branches: [main, dev, test]

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          
      - run: yarn
      - run: yarn build
      - run: yarn pack --filename share-lib.tgz #for yarn 1
      #- run: yarn pack --out share-lib.tgz #for yarn > 2
      
      - name: upload to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: '*.tgz'
          name: ${{ github.ref_name }}
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: trigger A/B
        run: |
          gh api repos/wy2010344/web-1/dispatches -f event_type=lib-update
          gh api repos/wy2010344/web-2/dispatches -f event_type=lib-update
        env:
          GH_TOKEN: ${{ secrets.PAT  }}