on:
  push:
    branches: [main, dev, test]

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
      
      - name: 自增版本号
        run: |
          # 取当前版本
          OLD=$(jq -r .version package.json)
          # 补丁位 +1
          IFS='.' read -r major minor patch <<< "$OLD"
          NEW="${major}.${minor}.$(date +%s)"
          # 写回 package.json
          jq --arg v "$NEW" '.version = $v' package.json > tmp && mv tmp package.json
          echo "版本已自增 => $NEW"
          
      - run: yarn
      - run: yarn build
      - run: yarn pack --filename share-lib.tgz #for yarn 1
      #- run: yarn pack --out share-lib.tgz #for yarn > 2
      
      - name: upload to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: '*.tgz'
          name: ${{ github.ref_name }}
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}